<h2>share new dish</h2>

<form action="/dishes" method="post">
  <label for="">title</label>
  <input name="title" type="text" />
  <label for="">image url</label>
  <input name="image_url" type="text" />
  <input type="hidden" name="user_id" value="6" />
  <button>share</button>
</form>
